$custom-green-darker: #60C179 !default;
$custom-green-lighter: #87CC96 !default;
$custom-gray: #cccccc !default;
$custom-gray-darker: #666666 !default;
$custom-black: #353535 !default;
$custom-orange: #FFC466 !default;
$custom-orange-darker: #F77E5E !default;
$custom-pink: #FFEABA !default;
$custom-salmon: #FAB68D !default;
$custom-blue: #353454 !default;
$custom-purple: #97909C !default;
